		#backgroundPicture{
			background-image: url("softUniTemplate.png");
			background-repeat: no-repeat;
			height:576px;
		}
		
		p {
		color: #F3BE60;
		font-family: "Calibri",sans-serif;
		font-weight: bold;
		font-size: 36px;
		padding: 30px 0px 0px 28px;
		}

		
		
		li {
		list-style-type:square;
		color: #FFF;
		font-family: "Calibri",sans-serif;
		font-weight: bold;
		font-size: 32px;
		margin: 15px 0px 0px 28px;
		}
		
		
		
		span {
		color: #F3BE60;
		font-family: "Consolas",sans-serif;
		font-weight: bold;
		font-size: 34px;
		}
		
#square {
color: #F3BE60;
position: relative;
top: -25px;
}
		
#notSquare {
font-weight: normal;
list-style-type: none;
position: relative;
top: -81px;
}

#square2 {
color: #F3BE60;
position: relative;
top: -90px;
}
		
#notSquare2 {
font-weight: normal;
list-style-type: none;
position: relative;
top: -147px;
}

#square3 {
color: #F3BE60;
position: relative;
top: -64px;
}
		
#notSquare3 {
font-weight: normal;
list-style-type: none;
position: relative;
top: -120px;
}

#firstBox {
border: 2px solid #C7BFAC;
background: rgba(168, 168, 152, 0.17);
width: 840px;
font-weight: normal;
list-style-type: none;
position: relative;
left: -44px;
}

#firstBox2 {
border: 2px solid #C7BFAC;
background: rgba(168, 168, 152, 0.17);
width: 840px;
font-weight: normal;
list-style-type: none;
position: absolute;
left: 72px;
top: 320px;
}

#firstBox3 {
border: 2px solid #C7BFAC;
background: rgba(168, 168, 152, 0.17);
width: 840px;
font-weight: normal;
list-style-type: none;
position: absolute;
left: 72px;
top: 458px;
}

.inbox {
color: #FBEEC9;
font-family: "Consolas",sans-serif;
font-weight: bold;
font-size: 22px;
padding: 6px 0px 0px 10px;
margin: 0px 0px 0px 0px;
}

.inbox:last-child {
padding: 6px 0px 7px 10px;
}
		
p#page {
font-size: 12px;
padding: 0;
position: relative;
top: -2px;
left: 999px;
color: #fff;
font-weight: normal;
}		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		